$klarna-primary-orange: #fe7600;
$klarna-primary-blue: #5582ff;
$klarna-primary-purple: #5532ff;
$klarna-primary-green: #45ed98;
$klarna-primary-green2: #0c6;
$klarna-primary-red: #E7325A;
//
$klarna-greys-500: #232223;
$klarna-greys-400: #576477;
$klarna-greys-300: #9fa6b1;
$klarna-greys-200: #ebecf0;
$klarna-greys-100: #f4f5f8;